body {
  margin: 0;
}

/*Layout*/
.navList {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navBox {
  background-color: #f5eeee;
  padding: 10px 0;
  height: 165px;
}

/*Img widget*/
.img-widget {
  display: flex;
  margin-top: 5em;
  position: relative;
}

img {
  width: 20em;
  height: 30em;
  margin: 0 1.5em;
  object-fit: cover;
}

.for-img-left,
.for-img-right {
  background-color: white;
  height: 1.5em;
  position: absolute;
  top: 1em;
  padding: 1em;
}

.for-img-left {
  left: 15em;
}

.for-img-right {
  right: 15em;
}

.widget-rightPosition {
  justify-content: flex-end;
}

/*Typography*/

.logo {
  font-family: Tangerine;
  font-style: Regular;
  font-size: 3rem;
  text-align: Center;
  margin-bottom: 50px;
}
