* {
  box-sizing: border-box;
}
body {
  margin: 0;
  line-height: 1.6;
  font-family: "Prata", serif;
}

/*Layout*/
.navList {
  display: flex;
  justify-content: space-around;
  list-style: none;
  max-width: 900px;
  margin: 0 auto;
}

.navBox {
  background-color: #f5eeee;
  padding: 10px 0;
  height: 11em;
  line-height: normal;
}

ul a {
  color: black;
  text-decoration: none;
}

ul a:hover,
ul a:focus {
  color: #707070;
}

.current-page {
  border-bottom: 1px solid #707070;
}

.about-me-section-title > span,
.make-friends > h1 > span,
.hire-me-widget > h1 > span {
  position: relative;
}

.about-me-section-title > span:before,
.make-friends > h1 > span:before,
.hire-me-widget > h1 > span:before {
  position: absolute;
  content: "";
  height: 0.2em;
  width: 100%;
  bottom: 0.1em;
  z-index: -1;
  background: rgb(250, 210, 217);
}

/*widget*/

.gallary-container,
.contact-container,
.about-me-page {
  max-width: 900px;
  margin: 0 auto;
}

/*=====================Gallary=======================*/

/*img-widget*/

.img-widget {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 5em;
  margin-top: 10em;
  position: relative;
}

.img-widget > img {
  width: 90%;
  height: 90%;
  min-width: 250px;
  max-width: 480px;
  max-height: 600px;
  object-fit: cover;
  filter: brightness(110%);
  border-radius: 25px;
  transition: 0.3s;
}

.img-widget > img:hover {
  cursor: pointer;
  opacity: 0.7;
}

.painting-title {
  position: absolute;
  background-color: white;
  padding: 0 1em;
  width: 100%;
  max-width: 480px;
  min-width: 250px;
  height: 13%;
  bottom: 7%;
  display: flex;
}

.painting-title > h3 {
  text-align: center;
  margin: auto;
  font-size: 1.1rem;
}

@media (max-width: 400px) {
  .painting-title > h3 {
    font-size: 0.8rem;
  }
}

.img-widget:last-child {
  margin-bottom: 5em;
}

/*modal*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modal-img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  filter: brightness(110%);
}

.modal-painting-title {
  color: white;
  text-align: center;
  margin-top: 1em;
}

.close {
  position: absolute;
  right: 10%;
  top: 5%;
  font-size: 40px;
  color: white;
  transition: 0.3s;
  display: none;
  cursor: pointer;
}

/*Footer*/
h5 {
  text-align: center;
  font-size: 0.5rem;
  height: 10em;
  padding-top: 8em;
}

/*==================about me==========================*/
/*Lay out*/

.about-me-intro {
  margin-top: 5em;
  padding: 0 5em;
  color: #333232;
  font-family: "Cormorant Infant", serif;
}

.about-me-section-title,
.about-me-reading-title {
  padding: 1.5em 0;
  margin: 2em;
  margin-bottom: 1.5em;
  color: #333232;
}

h3 {
  color: #333232;
}
.about-me-work-content {
  width: 70%;
  color: #636060;
}

.about-me-widget-flex {
  display: flex;
  padding: 0 2em;
  margin: 3em;
}

.working-years {
  margin-left: 5em;
  margin-right: 0;
  align-self: center;
  color: #333232;
}
.about-me-widget-color1 {
  background-color: #f5eeee;
  border-radius: 25px;
}

.about-me-widget-color2 {
  background-color: #eef5f5;
  border-radius: 25px;
}

.book-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2em;
}

.book-item {
  margin-bottom: 8em;
  display: flex;
  flex-direction: column;
}

.book-item > img {
  margin: 0 auto;
  width: 100%;
  max-width: 250px;
  max-height: 300px;
  object-fit: cover;
}

.book-item > h3 {
  margin-top: 1em;
}

.book-item > p {
  margin-top: 0;
  color: #636060;
}
.book-item > h3,
.book-item > p {
  text-align: center;
}

/*====================Contact========================*/
/*Layout*/
.contact-container {
  padding: 3em;
}

.hire-me-widget,
.make-friends {
  margin: 3em;
  margin-bottom: 10em;
}

.hire-me-widget {
  display: flex;
  flex-direction: column;
}

.hire-me-widget > img {
  width: 200px;
  height: 200px;
  max-width: 400px;
  max-width: 400px;
  object-fit: cover;
  border-radius: 50%;
  filter: brightness(103%);
  margin: 0 auto;
  margin-top: 6em;
}

.hire-me-widget > p {
  line-height: 1.8em;
  text-align: center;
  border-radius: 20px;
  padding: 1.5em 0;
  color: #333232;
  font-family: "Cormorant Infant", serif;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.resume-btn {
  margin: 0 auto;
  background-color: #f5eeee;
  border: none;
  font-size: 1.5rem;
  font-family: "Cormorant Infant", serif;
  padding: 15px 20px;
  color: #444343;
  border-radius: 5px;
  transition-duration: 0.5s;
}

.resume-btn:hover {
  cursor: pointer;
  background-color: #eef5f5;
}

.resume-btn:focus {
  outline: none;
}

.resume-btn:active {
  background-color: #68b3b3;

  transform: translateY(5px);
}
.resume-btn > a {
  text-decoration: none;
  color: #444343;
}

.make-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.make-friends-title {
  padding-bottom: 2em;
  align-self: start;
}

.make-friends > p {
  font-size: 1.5rem;
  font-family: "Cormorant Infant", serif;
  text-align: center;
}
.make-friends-img > a > img {
  max-width: 80px;
  width: 100%;
  padding-right: 1em;
}

.footer-icon-info {
  text-align: center;
  font-size: 0.5rem;
  color: #333232;
  margin-bottom: 3em;
}

.footer-icon-info > p > a:link {
  color: #838080;
  text-decoration: none;
}

/*============================================*/
/*Typography*/

.logo {
  font-family: Tangerine;
  font-style: Regular;
  font-size: 3rem;
  text-align: Center;
  margin-bottom: 50px;
}

/*=====================media=======================*/
@media (min-width: 650px) {
  .gallary-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
  }
}
