:root {
  --glass-background: rgba(255, 255, 255, 0.9);
  --background-color: #f5eeee;
  --text-color: #333232;
  --text-color-secondary: #636060;
  --accent-color: #707070;
  --highlight-color: rgb(250, 210, 217);
  --widget-background-color1: #f5eeee;
  --contactMe-btn-bg: #fbede2;
  --contactMe-btn-hover-bg: #ecd2b1;
  --widget-background-color1-rgb: 245, 238, 238;
  --widget-background-color2: #eef5f5;
  --button-text-color: #444343;
  --link-color: #838080;
  --modal-background: rgba(0, 0, 0, 0.9);
  --white: white;
  --black: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --glass-background: rgba(39, 46, 42, 0.6);
    --background-color: #0c100e; /* Obsidian Veil */
    --text-color: #e6e3dc; /* Light sand for high contrast on dark bg */
    --text-color-secondary: #bdae9c; /* soft sandstone tone */
    --accent-color: #c2ad90; /* Sandstone Aura - highlight and border */
    --highlight-color: #97664d; /* Amber Eclipse - for callout bg */
    --widget-background-color1: #364442; /* Stormbound Teal */
    --widget-background-color1-rgb: 54, 68, 66;
    --widget-background-color1-rgb: 54, 68, 66;
    --widget-background-color2: #5d4429; /* Bronzed Ember */
    --contactMe-btn-bg: #506562;
    --contactMe-btn-hover-bg: #4b5e5b;
    --button-text-color: #e6e3dc;
    --link-color: #c2ad90; /* warm neutral */
    --modal-background: rgba(12, 16, 14, 0.95);
    --button-text-color: #e6e3dc;
    --link-color: #c2ad90; /* warm neutral */
    --modal-background: rgba(12, 16, 14, 0.95);
  }
}
