@import '../styles/variables.css';

.aboutMePage {
  max-width: 56.25rem;
  margin: 0 auto;
  padding-top: 11rem;
}

.aboutMeIntro {
  margin-top: 4rem;
  padding: 0 5rem;
  color: var(--text-color);
  font-family: 'Cormorant Infant', serif;
}

.aboutMeSectionTitle {
  padding: 1.5rem 0;
  margin: 2rem;
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

h3 {
  color: var(--text-color);
}

.aboutMeSectionTitle > span {
  position: relative;
}

.aboutMeSectionTitle > span:before {
  position: absolute;
  content: '';
  height: 0.2rem;
  width: 100%;
  bottom: 0.1rem;
  z-index: -1;
  background: var(--highlight-color);
}

.bookList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.bookList > * {
  position: relative;
  flex: 1 1 12.5rem;
  max-width: 15.625rem;
  box-sizing: border-box;
}

.bookSection {
  transition: background-color 0.5s ease, transform 0.5s ease;
  will-change: transform;
  padding: 2rem 1rem;
  border-radius: 1.25rem;
  margin: 3rem 0;
}

.bookSectionActive {
  background-color: var(--widget-background-color2);
  box-shadow: 0 0 1rem rgba(var(--widget-background-color1-rgb), 0.4);
  backdrop-filter: blur(0.75rem) saturate(1.1);
}

.bookSectionInactive {
  background-color: transparent;
}

.carouselWrapper {
  transition: all 0.5s ease;
}

@media (max-width: 48rem) {
  .aboutMeIntro {
    padding: 0 2.5rem;
  }
}

@media (max-width: 25.9375rem) {
  .aboutMeIntro {
    margin-top: 1rem;
    padding: 0 1.5rem;
    font-size: 0.8rem;
  }

  .aboutMeSectionTitle {
    padding: 0.5rem 0;
    margin: 1rem;
  }

  .bookList {
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
  }

  .bookList > * {
    flex: 0 0 auto;
    width: 90%;
    max-width: 18.75rem;
  }
}
