@import '../styles/variables.css';

.contactContainer {
  padding: 3rem;
}

.hireMeWidget,
.makeFriends {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  margin-bottom: 10rem;
}

.hireMeWidget img {
  width: 12.5rem;
  height: 12.5rem;
  max-width: 25rem;
  object-fit: cover;
  border-radius: 50%;
  filter: brightness(1.03);
  margin: 6rem auto 0;
}

.hireMeWidget p,
.makeFriends p {
  font-size: 1.5rem;
  font-family: 'Cormorant Infant', serif;
  color: var(--text-color);
  text-align: center;
  line-height: 1.8;
  padding: 1.5rem 0;
  margin: 0;
  border-radius: 1.25rem;
}

.hireMeTitle,
.makeFriendsTitle {
  font-family: 'Cormorant Infant', serif;
  font-size: 2rem;
  color: var(--text-color);
  padding-bottom: 2rem;
  align-self: flex-start;
  position: relative;
}

.hireMeTitle span,
.makeFriendsTitle span {
  position: relative;
}

.hireMeTitle span::before,
.makeFriendsTitle span::before {
  content: '';
  position: absolute;
  bottom: 0.1rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: var(--highlight-color);
  z-index: -1;
}

.resumeBtn {
  margin: 0 auto;
  padding: 1rem 1.25rem;
  background-color: var(--widget-background-color1);
  color: var(--button-text-color);
  font-size: 1.5rem;
  font-family: 'Cormorant Infant', serif;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.resumeBtn:hover {
  cursor: pointer;
  background-color: var(--widget-background-color2);
  transform: scale(1.05);
}

.resumeBtn:active {
  background-color: #68b3b3;
  transform: translateY(0.3125rem);
}

.resumeBtn:focus {
  outline: none;
}

.resumeBtn a {
  text-decoration: none;
  color: var(--button-text-color);
}

.makeFriends {
  align-items: center;
  justify-content: center;
}

.makeFriendsImg {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.makeFriendsImg img {
  width: 100%;
  max-width: 6.25rem;
}

.footerIconInfo {
  text-align: center;
  font-size: 0.5rem;
  color: var(--text-color);
  margin-bottom: 3rem;
}

.footerIconInfo a {
  color: var(--link-color);
  text-decoration: none;
}

@media (max-width: 415px) {
  .contactContainer {
    padding: 1rem;
  }

  .hireMeWidget,
  .makeFriends {
    margin: 3rem;
    margin-bottom: 8rem;
  }

  .hireMeTitle,
  .makeFriendsTitle {
    padding-bottom: 1rem;
  }

  .makeFriendsImg img {
    max-width: 5rem;
  }
}
