@import '../styles/variables.css';

.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure it takes full viewport height */
  padding-top: 11rem; /* Account for fixed header */
  text-align: center;
  color: var(--text-color);
}

.notFoundContainer h1 {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  color: var(--accent-color);
}

.notFoundContainer p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.notFoundContainer a {
  font-size: 1.2rem;
  color: var(--highlight-color);
  text-decoration: none;
  border: 0.0625rem solid var(--highlight-color);
  padding: 0.5rem 1rem;
  border-radius: 0.3125rem;
  transition: all 0.3s ease;
}

.notFoundContainer a:hover {
  background-color: var(--highlight-color);
  color: var(--white);
}
