/* styles/BookItem.module.css */
@import '../styles/variables.css';

.bookList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
}

.bookItem {
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
}

.bookItem > img {
  margin: 0 auto;
  width: 100%;
  max-width: 15.625rem;
  max-height: 18.75rem;
  object-fit: cover;
}

.bookItem > h3 {
  margin-top: 1rem;
}

.bookItem > p {
  margin-top: 0;
  color: var(--text-color-secondary);
}

.bookItem > h3,
.bookItem > p {
  text-align: center;
}
