@import '../styles/variables.css';

.navBox {
  background-color: var(--widget-background-color1);
  padding: 0.625rem 0;
  height: 11rem;
  line-height: normal;
}

.navList {
  display: flex;
  justify-content: space-around;
  list-style: none;
  max-width: 56.25rem;
  margin: 0 auto;
}

.navList a {
  color: var(--text-color);
  text-decoration: none;
}

.navList a:hover,
.navList a:focus {
  color: var(--accent-color);
}

.currentPage {
  border-bottom: 0.0625rem solid var(--accent-color);
}

.logo {
  font-family: Tangerine;
  font-style: Regular;
  font-size: 3rem;
  text-align: Center;
  margin-bottom: 3.125rem;
  color: var(--text-color);
}

@media (max-width: 48rem) {
  .navList {
    max-width: 100%;
    padding: 0 1rem;
  }

  .logo {
    font-size: 2.5rem;
    margin-bottom: 1.875rem;
  }
}
