.aboutMeWidgetFlex {
  display: flex;
  padding: 0 2rem;
  margin: 3rem;
}

.workExperienceWrapper {
  display: flex;
  width: 100%;
}

.aboutMeWorkContent {
  width: 70%;
  color: var(--text-color-secondary);
}

.workingYears {
  margin-left: 5rem;
  margin-right: 0;
  align-self: center;
  color: var(--text-color);
  white-space: nowrap;
}

.workingYearsSmall {
  display: none;
}

.aboutMeWidgetColor1 {
  background-color: var(--widget-background-color1);
  border-radius: 1.5625rem;
}

.aboutMeWidgetColor2 {
  background-color: var(--widget-background-color2);
  border-radius: 1.5625rem;
}

@media (max-width: 48rem) {
  .aboutMeWidgetFlex {
    flex-direction: column;
    align-items: flex-start;
  }

  .workingYears {
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .aboutMeWorkContent {
    width: 100%;
  }

  .workingYears {
    display: none;
  }

  .workingYearsSmall {
    display: block;
    margin-left: 0;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    align-self: flex-start;
    color: var(--text-color);
  }
}

@media (max-width: 415px) {
  .aboutMeWidgetFlex {
    padding-left: 1.5rem;
    padding-right: 0;
    margin: 2rem;
  }

  .workExperienceWrapper {
    flex-direction: column;
  }

  .aboutMeWorkContent {
    width: 100%;
  }

  .workingYears {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    align-self: flex-start;
  }
}
