@import '../src/styles/variables.css';
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  line-height: 1.6;
  font-family: 'Prata', serif;
  background-color: var(--background-color);
  padding-top: 8rem; /* Space for fixed header */
}
html {
  scroll-behavior: smooth;
}
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
